.container {
  top: calc(75px + 50px);
  background-color: var(--secondColor);
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 20px;
  line-height: 30px;
}
.icon {
  display: inline;
  color: var(--mainColor);
}
.info {
  display: inline;
  margin-left: 3vw;
  color: var(--mainColor);
}
.edit {
  display: inline;
  float: right;
}
