.category-item-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.category-item-text{
    font-size: 16px;
    font-weight: 500;
    align-items: flex-end;
}
.category-item-title{
    font-size: x-large;
    color: cornsilk;
    background-color: var(--mainColor);
}