.login-box {
  width: 60%;
  position: relative;
  top: 50px;
  margin: 0 auto;
}
.page-active {
  color: var(--secondColor);
}
.page-switch {
  font-size: 20px;
}
.page-switch > span:nth-child(1) {
  margin-right: 15px;
}
.page-switch > span:nth-child(1)::after {
  content: "|";
  margin-left: 15px;
  color: black;
}
.page-switch > span:hover {
  cursor: pointer;
}
.form-box {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
}
.form-box > div {
  margin: 10px 0;
}
.submit-area {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
