.main{
    
    left: 350px;
    background-color: blanchedalmond;
    height: 80%;
    text-align: center
}

.Body{
    background-color: rgb(253, 253, 252);
    height: 900px;
    text-align: center;
}

.Text{
    margin-top: 400px;
}